@import './floating-scroll.css';

$body-color: #333;

body {
  color: $body-color;
}

.container {
  width: 600px;
  overflow: scroll;
  border: 1px solid #ccc;
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid #ccc;
}
